/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
/* Block Defaults */
/* General Block Styles */
section.block {
  font-family: "Space Mono", monospace;
  padding: 7em 0;
  position: relative;
  /* headers */
  /* buttons */ }
  section.block.primary {
    background-color: #3D5A80;
    color: #fff; }
    section.block.primary.light, section.block.primary.light-dark {
      color: #444; }
    section.block.primary.white {
      color: #3D5A80; }
    section.block.primary.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.primary.bg-img:before {
        content: '';
        background-color: rgba(61, 90, 128, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.primary + section.block.primary {
    padding-top: 0em; }
  section.block.primary-light {
    background-color: #456691;
    color: #fff; }
    section.block.primary-light.light, section.block.primary-light.light-dark {
      color: #444; }
    section.block.primary-light.white {
      color: #3D5A80; }
    section.block.primary-light.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.primary-light.bg-img:before {
        content: '';
        background-color: rgba(69, 102, 145, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.primary-light + section.block.primary-light {
    padding-top: 0em; }
  section.block.primary-dark {
    background-color: #354e6f;
    color: #fff; }
    section.block.primary-dark.light, section.block.primary-dark.light-dark {
      color: #444; }
    section.block.primary-dark.white {
      color: #3D5A80; }
    section.block.primary-dark.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.primary-dark.bg-img:before {
        content: '';
        background-color: rgba(53, 78, 111, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.primary-dark + section.block.primary-dark {
    padding-top: 0em; }
  section.block.secondary {
    background-color: #EE6C4D;
    color: #fff; }
    section.block.secondary.light, section.block.secondary.light-dark {
      color: #444; }
    section.block.secondary.white {
      color: #3D5A80; }
    section.block.secondary.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.secondary.bg-img:before {
        content: '';
        background-color: rgba(238, 108, 77, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.secondary + section.block.secondary {
    padding-top: 0em; }
  section.block.secondary-light {
    background-color: #f07f64;
    color: #fff; }
    section.block.secondary-light.light, section.block.secondary-light.light-dark {
      color: #444; }
    section.block.secondary-light.white {
      color: #3D5A80; }
    section.block.secondary-light.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.secondary-light.bg-img:before {
        content: '';
        background-color: rgba(240, 127, 100, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.secondary-light + section.block.secondary-light {
    padding-top: 0em; }
  section.block.secondary-dark {
    background-color: #ec5936;
    color: #fff; }
    section.block.secondary-dark.light, section.block.secondary-dark.light-dark {
      color: #444; }
    section.block.secondary-dark.white {
      color: #3D5A80; }
    section.block.secondary-dark.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.secondary-dark.bg-img:before {
        content: '';
        background-color: rgba(236, 89, 54, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.secondary-dark + section.block.secondary-dark {
    padding-top: 0em; }
  section.block.light {
    background-color: #EEE;
    color: #fff; }
    section.block.light.light, section.block.light.light-dark {
      color: #444; }
    section.block.light.white {
      color: #3D5A80; }
    section.block.light.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.light.bg-img:before {
        content: '';
        background-color: rgba(238, 238, 238, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.light + section.block.light {
    padding-top: 0em; }
  section.block.light-dark {
    background-color: #e1e1e1;
    color: #fff; }
    section.block.light-dark.light, section.block.light-dark.light-dark {
      color: #444; }
    section.block.light-dark.white {
      color: #3D5A80; }
    section.block.light-dark.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.light-dark.bg-img:before {
        content: '';
        background-color: rgba(225, 225, 225, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.light-dark + section.block.light-dark {
    padding-top: 0em; }
  section.block.dark {
    background-color: #444;
    color: #fff; }
    section.block.dark.light, section.block.dark.light-dark {
      color: #444; }
    section.block.dark.white {
      color: #3D5A80; }
    section.block.dark.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.dark.bg-img:before {
        content: '';
        background-color: rgba(68, 68, 68, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.dark + section.block.dark {
    padding-top: 0em; }
  section.block.white {
    background-color: #fff;
    color: #fff; }
    section.block.white.light, section.block.white.light-dark {
      color: #444; }
    section.block.white.white {
      color: #3D5A80; }
    section.block.white.bg-img {
      background-size: cover;
      background-position: center; }
      section.block.white.bg-img:before {
        content: '';
        background-color: rgba(255, 255, 255, 0.75);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute; }
  section.block.white + section.block.white {
    padding-top: 0em; }
  section.block.narrow {
    padding: 3em 0; }
  section.block.med-width > div.container {
    max-width: 50%; }
  section.block.small-width > div.container {
    max-width: 25%; }
  section.block > div.container {
    position: relative;
    z-index: 9; }
  section.block .block-header {
    margin-bottom: 40px; }
    section.block .block-header .header {
      margin-bottom: 10px; }
    section.block .block-header .subheader {
      margin-bottom: 0; }
  section.block:not(.center) .block-header {
    text-align: center; }
  section.block a.button {
    display: block;
    padding: 14px 30px;
    margin: 0 10px;
    border-radius: 4px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    section.block a.button:hover {
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    section.block a.button.reverse {
      background-color: transparent;
      border-width: 3px;
      padding: 12px 28px;
      border-style: solid; }
    section.block a.button.primary {
      background-color: #3D5A80;
      color: #fff; }
      section.block a.button.primary.reverse {
        background-color: transparent;
        border-color: #3D5A80;
        color: #3D5A80; }
        section.block a.button.primary.reverse:hover {
          background-color: #3D5A80;
          color: #fff; }
      section.block a.button.primary:hover {
        background-color: #354e6f; }
    section.block a.button.secondary {
      background-color: #EE6C4D;
      color: #fff; }
      section.block a.button.secondary.reverse {
        background-color: transparent;
        border-color: #EE6C4D;
        color: #EE6C4D; }
      section.block a.button.secondary:hover {
        background-color: #ec5936;
        color: #fff; }
    section.block a.button.white {
      background-color: #fff;
      color: #3D5A80; }
      section.block a.button.white.reverse {
        background-color: transparent;
        border-width: 2px;
        border-color: #fff;
        color: #fff; }
        section.block a.button.white.reverse:hover {
          background-color: #fff;
          color: #3D5A80; }
    section.block a.button.light {
      background-color: #EEE;
      color: #444; }
    section.block a.button.dark {
      background-color: #444;
      color: #fff; }
  section.block .block-buttons {
    margin-top: 40px;
    overflow: hidden; }
    section.block .block-buttons ul.buttons {
      margin-left: 0;
      padding-left: 0;
      overflow: hidden;
      display: inline-block; }
      section.block .block-buttons ul.buttons li {
        list-style: none;
        float: left; }
        section.block .block-buttons ul.buttons li:first-child a {
          margin-left: 0; }
        section.block .block-buttons ul.buttons li:last-child a {
          margin-right: 0; }
        section.block .block-buttons ul.buttons li a {
          display: block;
          padding: 14px 30px;
          margin: 0 10px;
          border-radius: 4px;
          text-decoration: none;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
          section.block .block-buttons ul.buttons li a:hover {
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease; }
          section.block .block-buttons ul.buttons li a.reverse {
            background-color: transparent;
            border-width: 3px;
            padding: 12px 28px;
            border-style: solid; }
          section.block .block-buttons ul.buttons li a.primary {
            background-color: #3D5A80;
            color: #fff; }
            section.block .block-buttons ul.buttons li a.primary.reverse {
              background-color: transparent;
              border-color: #3D5A80;
              color: #3D5A80; }
              section.block .block-buttons ul.buttons li a.primary.reverse:hover {
                background-color: #3D5A80;
                color: #fff; }
            section.block .block-buttons ul.buttons li a.primary:hover {
              background-color: #354e6f; }
          section.block .block-buttons ul.buttons li a.secondary {
            background-color: #EE6C4D;
            color: #fff; }
            section.block .block-buttons ul.buttons li a.secondary.reverse {
              background-color: transparent;
              border-color: #EE6C4D;
              color: #EE6C4D; }
            section.block .block-buttons ul.buttons li a.secondary:hover {
              background-color: #ec5936;
              color: #fff; }
          section.block .block-buttons ul.buttons li a.white {
            background-color: #fff;
            color: #3D5A80; }
            section.block .block-buttons ul.buttons li a.white.reverse {
              background-color: transparent;
              border-width: 2px;
              border-color: #fff;
              color: #fff; }
              section.block .block-buttons ul.buttons li a.white.reverse:hover {
                background-color: #fff;
                color: #3D5A80; }
          section.block .block-buttons ul.buttons li a.light {
            background-color: #EEE;
            color: #444; }
          section.block .block-buttons ul.buttons li a.dark {
            background-color: #444;
            color: #fff; }
  section.block:not(.center) .block-buttons {
    text-align: center; }

/* Color Options
--------------------------------------------- */
.has-primary-color {
  color: #3D5A80; }

.has-primary-background-color {
  background-color: #3D5A80; }

.has-primary-light-color {
  color: #456691; }

.has-primary-light-background-color {
  background-color: #456691; }

.has-primary-dark-color {
  color: #354e6f; }

.has-primary-dark-background-color {
  background-color: #354e6f; }

.has-secondary-color {
  color: #EE6C4D; }

.has-secondary-background-color {
  background-color: #EE6C4D; }

.has-secondary-light-color {
  color: #f07f64; }

.has-secondary-light-background-color {
  background-color: #f07f64; }

.has-secondary-dark-color {
  color: #ec5936; }

.has-secondary-dark-background-color {
  background-color: #ec5936; }

.has-light-color {
  color: #EEE; }

.has-light-background-color {
  background-color: #EEE; }

.has-light-dark-color {
  color: #e1e1e1; }

.has-light-dark-background-color {
  background-color: #e1e1e1; }

.has-dark-color {
  color: #444; }

.has-dark-background-color {
  background-color: #444; }

.has-white-color {
  color: #fff; }

.has-white-background-color {
  background-color: #fff; }
