body {
    font-family: $bodyFont;

    h1,h2,h3,h4,h5,h6 {
        font-family: $headerFont;
    }
}

body.logged-in {
    .site-header {
        padding-top: 32px;

        @include respond-below(md) {
            padding-top: 46px;
        }
    }
}

html, body {
  overflow-x: hidden;
}
