.footer-menu {
    background-color: $secondary;
    padding: 10px 0;
    .menu {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
            @include respond-below(md) {
                display: block;
                width: 100%;
                margin-bottom: .5em;
            }
            a {
                color: white;
                margin: 0 20px;
            }
        }
    }
}

.site-footer {
    background-color: $primary-dark;
    padding: 60px 0;
    color: white;


    @include respond-below(sm) {
        .col-md {
            margin-bottom: 2em;

            &.footer-four {
                margin-bottom: 0;
            }
        }
    }
    .footer-widget {
        .footer-logo {
            margin-bottom: 20px;
        }
    }
    .footer-widget {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }
        .menu, ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                color: white;
                &.menu-item-has-children {
                    .sub-menu {
                        margin-left: 0;
                        padding-left: 1rem;
                        li {
                            font-weight: normal;
                            list-style-type: none;
                        }
                    }
                }
                a {
                    color: inherit;
                }
            }
        }
    }
    .footer-widget {
        .footer-cta {
            background-color: $footerCTAColor;
            border: none;
            width: 100%;
            color: white;
            margin-bottom: 20px;

            &:hover {
                background-color: darken($footerCTAColor, 5%);
            }
        }
    }
}

.site-info {
    background-color: $primary-dark;
    padding: 20px;
    text-align: center;
    color: white;

    a {
        color: inherit;
    }
}
