@import 'variables';
//@import '../../felix-child/sass/child-variable.scss';


section.block {
    font-family: $bodyFont;
    padding: 7em 0;
    position: relative;

    a {
        text-decoration: underline;
        color: inherit;
        font-weight: 700;
    }
    @each $colorname, $color in $colors {
        &.#{$colorname} {
            background-color: #{$color};
            color: $white;
            &.light, &.light-dark {
                color: $dark;
            }

            &.white {
                color: $primary;

                .block-buttons {
                    ul.buttons {
                        li {
                            a.white {
                                background-color: transparent;
                                border-width: 3px;
                                padding: 12px 28px;
                                border-style: solid;
                                border-color: $primary;

                                &.reverse {
                                    background-color: $primary;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            &.bg-img {
                background-size: cover;
                background-position: center;
                &:before {
                    content: '';
                    background-color: rgba($color, .75);
                    display: block;
                    width: 100%; height: 100%;
                    top: 0;
                    position: absolute;
                }
            }
            .splide__arrow {
                background-color: $white;
                opacity: 1;
                path {
                    fill: $color;
                }
            }
            &.light, &.light-dark, &.white {
                .splide__arrow {
                    background-color: $white;
                    opacity: 1;
                    path {
                        fill: $dark;
                    }
                }
            }
        }

        &.#{$colorname} + &.#{$colorname} {
            padding-top: 0em;
        }
    }
    &.narrow {
        padding: 3em 0;
    }
    &.med-width {
        &>div.container {
            max-width: 50%;
        }
    }
    &.small-width {
        &>div.container {
            max-width: 25%;
        }
    }
    &>div.container {
        position: relative;
        z-index: 9;
    }
    /* headers */
    .block-header {
        margin-bottom: 60px;
        .header {
            margin-bottom: 20px;
        }
        .subheader {
            margin-bottom: 0;
        }

        &.left {
            text-align: left;
        }

        &.right {
            text-align: right;
        }
        &.center {
            text-align: center;
        }

        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
                opacity: .9;
            }
        }
    }
    .block-buttons {
        margin-top: 40px;
        overflow: hidden;
        ul.buttons {
            margin-left: 0;
            padding-left: 0;
            overflow: hidden;
            display: inline-block;
            li {
                display: inline-block;
                list-style: none;
                float:none;
                vertical-align: middle;

                @include respond-below(sm) {
                    width: 100%;
                    display: inline-block;
                    a {
                        width: auto;
                        display: inline-block!important;
                    }
                }
                @include respond-below(md) {
                    margin-top: 1em;
                }
                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                a {
                    display: block;
                    padding: 14px 30px;
                    margin: 0 10px;
                    border-radius: $sm-br;
                    text-decoration: none;
                    transition: all .3s ease;
                    font-weight: normal;

                    @include respond-below(md) {
                        margin: 0;
                    }

                    &:hover {
                        transition: all .3s ease;
                    }
                    &.reverse {
                        background-color: transparent;
                        border-width: 3px;
                        padding: 12px 28px;
                        border-style: solid;
                    }
                    &.primary {
                        background-color: $primary;
                        color: $white;
                        &.reverse {
                            background-color: transparent;
                            border-color: $primary;
                            color: $primary;
                            &:hover {
                                background-color: $primary;
                                color: $white;
                            }
                        }
                        &:hover {
                            background-color: $primary-dark;
                        }
                    }
                    &.secondary {
                        background-color: $secondary;
                        color: $white;
                        &.reverse {
                            background-color: transparent;
                            border-color: $secondary;
                            color: $secondary;
                        }
                        &:hover {
                            background-color: $secondary-dark;
                            color: $white;
                        }
                    }
                    &.white {
                        background-color: $white;
                        color: $primary;
                        &.reverse {
                            background-color: transparent;
                            border-width: 2px;
                            border-color: $white;
                            color: $white;
                            &:hover {
                                background-color: $white;
                                color: $primary;
                            }
                        }

                    }
                    &.light {
                        background-color: $light;
                        color: $dark;

                        &:hover {
                            background-color: darken($light, 5%);
                        }
                        &.reverse {
                            background-color: transparent;
                            border-width: 2px;
                            border-color: $light;
                            color: $light;
                            &:hover {
                                background-color: $light;
                                color: $dark;
                            }
                        }
                    }
                    &.dark {
                        background-color: $dark;
                        color: $white;

                        &.reverse {
                            background-color: transparent;
                            border-width: 2px;
                            border-color: $dark;
                            color: $dark;
                            &:hover {
                                background-color: $dark;
                                color: $light;
                            }
                        }

                        &:hover {
                            background-color: darken($dark, 5%);
                        }
                    }
                }
            }
        }
    }
    &:not(.center) {
        .block-buttons {
            text-align: center;
        }
    }
}


//Core GUtenberg block Styles
/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}

    .wp-block-group {
        &.has-#{$name}-background-color {
            &:before {
                background-color: $color;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0; left: 0;
                z-index: -1;
            }
        }

        &.has-#{$name}-background-color + .block.#{$name} {
            padding-top: 0em;
        }
    }
}

.wp-block-wrap-heading, .wp-block-wrap-paragraph, .wp-block-wrap-image {
    &>* {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

[class*="wp-block-embed"] {
    &>* {
        max-width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.wp-block-wrap-heading {
    &>* {
        padding: 1em 15px;
    }
}

.wp-block-group {
    position: relative;
    padding: 7em 0;
    & > div {
        padding: 0 15px;
        max-width: 1140px; width: 100%;
        margin: 0 auto;
    }
    [class*="wp-block-wrap"] {
        &>* {
            padding: 15px 0px;
        }
    }
    &.alignwide > div {
        max-width: 1140; width: 100%;
    }
    &.alignfull > div {
        max-width: 100%; width: 100%;
        padding: 0;
    }
    &.narrow {
        padding: 3.5em 0;
    }
}


.issue-modal {
    .modal-lg {
        max-width: 100%;
    }

    .modal-content {
        background-color: transparent;
        border:none;
    }

    .cu-form__container {
        padding: 35px 30px;
        max-width: 100%;
    }
}

.wp-block {
    max-width: 100%;
}


/* Background Color Field Styles */
.custom-color-picker {
    ul.acf-radio-list {
        li {
            label {
                input {
                    &:checked {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            display: inline-block;
            float: left;
            margin: 0 5px 5px 0;
            input {
                width: 30px;
                height: 30px;
                content: '';
            }

            span {
                width: 24px;
                height: 24px;
                border-radius: 14px;
                display: block;
                position: absolute;
                top: 0;
                margin: 2px 3px;
            }
        }
    }
}
@each $colorname, $color in $colors {
    .color-sample-#{$colorname} {
        background-color: #{$color}!important;
    }
}

@media (min-width: 782px) {
    .edit-post-sidebar {
        width: 352px;
    }
}

.editor-styles-wrapper .container-fluid, .editor-styles-wrapper .container-lg, .editor-styles-wrapper .container-md, .editor-styles-wrapper .container-sm, .editor-styles-wrapper .container-xl {
    padding-left: 0;
    padding-right: 0;
}
