@import 'variables.scss';
@import 'media-queries.scss';
@import 'body.scss';
@import 'sidebar.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'pages.scss';
@import 'blog.scss';
@import 'components.scss';
@import 'blocks.scss';


html {
    margin:0!important;
}

a.anchor {
    display: block;
    position: relative;
    top: -175px;
    visibility: hidden;
}
