@import '../../../sass/variables';
@import '../../../sass/media-queries';


section.faq {
    .accordion {
        @include respond-below(md) {
            margin-bottom: 2em;
        }
        .card {
            max-width: 100%;
            width: 100%;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            .card-header {
                padding: 0;
                h2 {
                    padding: 0;
                    button.btn-link {
                        padding: 1em 2em 1em 1em;
                        white-space: normal;
                        width: 100%;
                        text-align: left;
                        border: none;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .card-body {
                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .accordion .card-header .btn-link.collapsed:after {
        font-family: "Font Awesome 5 Pro";
        content: "\f067";
        float: right;
        color: white;
        position: absolute;
        right: 0;
        top: 16px;
        right: 15px;
        display: inline-block;
    }
    .accordion .card-header .btn-link:after {
        /* symbol for "collapsed" panels */
        content: "\f068";
        font-family: "Font Awesome 5 Pro";
        float: right;
        color: white;
        position: absolute;
        right: 0;
        top: 16px;
        right: 15px;
        display: inline-block;
    }
    //primary
    &.primary {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $primary;
                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $primary;
                    }
                }
            }
        }
    }
    //primary-light
    &.primary-light {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $primary-light;
                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $primary-light;
                    }
                }
            }
        }
    }
    //primary-dark
    &.primary-dark {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $primary-dark;

                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $primary-dark;
                    }
                }
            }
        }
    }
    //secondary
    &.secondary {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $secondary;
                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $secondary;
                    }
                }
            }
        }
    }
    //secondary-light
    &.secondary-light {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $secondary-light;
                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $secondary-light;
                    }
                }
            }
        }
    }
    //secondary-dark
    &.secondary-dark {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $secondary-dark;
                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $secondary-dark;
                    }
                }
            }
        }
    }
    //dark
    &.dark {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $dark;
                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $dark;
                    }
                }
            }
        }
    }
    //light
    &.light {
        .accordion {
            .card {
                border-bottom: 1px solid $white;
                .card-header {
                    h2 {
                        button.btn-link {
                            color: $light;
                        }
                    }
                }
                .card-body {
                    background-color: $white;
                    & > * {
                        color: $dark;
                    }
                }
            }
        }
    }
    //secondary-dark
    &.white {
        .accordion {
            .card {
                border-bottom: 1px solid $light;
                .card-header {
                    background-color: $primary;
                    h2 {
                        button.btn-link {
                            color: $white;
                        }
                    }
                }
                .card-body {
                    background-color: $light;
                    & > * {
                        color: $primary;
                    }
                }
            }
        }
    }
}
