section.full-width {
    &.med-width {
        &>div.container {
            max-width: 50%;
        }
    }
    &.small-width {
        &>div.container {
            max-width: 25%;
        }
        .block-buttons {
            ul.buttons {
                li {
                    margin-top: 1em;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    &.center {
        &>div {
            margin: 0 auto;
        }
        &>* {
            text-align: center;
        }
    }
    &.left {
        &>* {
            text-align: left;
        }
    }
    &.right {
        &>* {
            text-align: right;
        }
    }
}
