section.full-width.med-width > div.container {
  max-width: 50%; }

section.full-width.small-width > div.container {
  max-width: 25%; }

section.full-width.small-width .block-buttons ul.buttons li {
  margin-top: 1em; }
  section.full-width.small-width .block-buttons ul.buttons li:first-child {
    margin-top: 0; }

section.full-width.center > div {
  margin: 0 auto; }

section.full-width.center > * {
  text-align: center; }

section.full-width.left > * {
  text-align: left; }

section.full-width.right > * {
  text-align: right; }
