/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
section.slider {
  padding: 0; }
  section.slider.primary {
    background-color: #3D5A80;
    color: #fff; }
    section.slider.primary.light, section.slider.primary.light-dark {
      color: #444; }
    section.slider.primary.white {
      color: #3D5A80; }
    section.slider.primary.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(61, 90, 128, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.primary-light {
    background-color: #456691;
    color: #fff; }
    section.slider.primary-light.light, section.slider.primary-light.light-dark {
      color: #444; }
    section.slider.primary-light.white {
      color: #3D5A80; }
    section.slider.primary-light.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(69, 102, 145, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.primary-dark {
    background-color: #354e6f;
    color: #fff; }
    section.slider.primary-dark.light, section.slider.primary-dark.light-dark {
      color: #444; }
    section.slider.primary-dark.white {
      color: #3D5A80; }
    section.slider.primary-dark.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(53, 78, 111, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.secondary {
    background-color: #EE6C4D;
    color: #fff; }
    section.slider.secondary.light, section.slider.secondary.light-dark {
      color: #444; }
    section.slider.secondary.white {
      color: #3D5A80; }
    section.slider.secondary.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(238, 108, 77, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.secondary-light {
    background-color: #f07f64;
    color: #fff; }
    section.slider.secondary-light.light, section.slider.secondary-light.light-dark {
      color: #444; }
    section.slider.secondary-light.white {
      color: #3D5A80; }
    section.slider.secondary-light.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(240, 127, 100, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.secondary-dark {
    background-color: #ec5936;
    color: #fff; }
    section.slider.secondary-dark.light, section.slider.secondary-dark.light-dark {
      color: #444; }
    section.slider.secondary-dark.white {
      color: #3D5A80; }
    section.slider.secondary-dark.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(236, 89, 54, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.light {
    background-color: #EEE;
    color: #fff; }
    section.slider.light.light, section.slider.light.light-dark {
      color: #444; }
    section.slider.light.white {
      color: #3D5A80; }
    section.slider.light.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(238, 238, 238, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.light-dark {
    background-color: #e1e1e1;
    color: #fff; }
    section.slider.light-dark.light, section.slider.light-dark.light-dark {
      color: #444; }
    section.slider.light-dark.white {
      color: #3D5A80; }
    section.slider.light-dark.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(225, 225, 225, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.dark {
    background-color: #444;
    color: #fff; }
    section.slider.dark.light, section.slider.dark.light-dark {
      color: #444; }
    section.slider.dark.white {
      color: #3D5A80; }
    section.slider.dark.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(68, 68, 68, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.white {
    background-color: #fff;
    color: #fff; }
    section.slider.white.light, section.slider.white.light-dark {
      color: #444; }
    section.slider.white.white {
      color: #3D5A80; }
    section.slider.white.bg-img .splide__slide:before {
      content: '';
      background-color: rgba(255, 255, 255, 0.75);
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute; }
  section.slider.content-left {
    text-align: left; }
    section.slider.content-left .block-header, section.slider.content-left .block-buttons {
      text-align: left; }
  section.slider.content-right {
    text-align: right; }
    section.slider.content-right .block-header, section.slider.content-right .block-buttons {
      text-align: right; }
  section.slider .splide__list .splide__slide .slide-content {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 9; }
