@import '../../../sass/variables';
@import '../../../sass/media-queries';

section.slider {
    padding: 0;
    @each $colorname, $color in $colors {
        &.#{$colorname} {
            background-color: #{$color};
            color: $white;
            &.light, &.light-dark {
                color: $dark;
            }

            &.white {
                color: $primary;
            }
            &.bg-img {
                .splide__slide {
                    &:before {
                        content: '';
                        background-color: rgba($color, .75);
                        display: block;
                        width: 100%; height: 100%;
                        top: 0;
                        position: absolute;
                    }
                }
            }
        }
    }

    .block-header {
        @include respond-below(md) {
            h1 {
                font-size: 1.8em;
            }
            h2 {
                font-size: 1.6em;
            }
            h3 {
                font-size: 1.4em;
            }
            h4 {
                font-size: 1.2em;
            }
            h5 {
                font-size: 1em;
            }
            h6 {
                font-size: .8em;
            }
        }
    }
    .block-buttons {
        @include respond-below(md) {
            margin-top: 0;

            li:first-child {
                margin-top: 0;
            }
        }
    }
    &.content-left {
        text-align: left;

        .block-header, .block-buttons {
            text-align: left;
        }
    }

    &.content-right {
        text-align: right;
        .block-header, .block-buttons {
            text-align: right;
        }
    }
    .splide__list {
        .splide__slide {
            max-height: 1000px;
            .slide-content {
                max-width: 1140px; width: 100%;
                margin: 0 auto;
                padding: 3em 15px;
                position: relative;
                z-index: 9;


            }
        }
    }

    &.content-left {
        .slide-content {
            &>div {
                float: left;
            }
        }
    }
    &.content-center {
        .slide-content {
            &>div {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    &.content-right {
        .slide-content {
            &>div {
                float: right;
                text-align: right;
            }
        }
    }
    &.med-width {
        .splide__list {
            .splide__slide {
                .slide-content {
                    &>div {
                        width: 75%;
                    }
                }
            }
        }
    }
    &.small-width {
        .splide__list {
            .splide__slide {
                .slide-content {
                    &>div {
                        width: 50%;
                    }
                }
            }
        }
    }
}
