@import '../../../sass/variables';
@import '../../../sass/media-queries';

section.post {
    margin: 0;
    &.equal-height {
        .row {
            @include respond-below(xs) {
                display: block!important;
            }
            @include respond-above(sm) {
                [class*="col-"] {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    & > div {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;

                        a.button {
                            margin-top: auto;
                        }
                    }
                }
            }

            &.center {
                [class*="col-"] {
                    & > div {
                        align-items: center;
                    }
                }
            }
        }
    }
    .center {
        [class*="col-"] {
            text-align: center;
        }
    }

    [class*="col-"] {
        margin-bottom: 1em;
        h4 {
            font-weight: bold;
            margin-top: 0;

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        h5 {
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        ul.post-meta {
            font-size: .8em;
            margin: 0 0 1em 0;
            padding: 0;
            li {
                margin: 0 1em 0 0;
                padding: 0;
                display: inline-block;
            }
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: $dark;
        }
        @include respond-below(md) {
            margin-bottom: 1em;
        }
    }
    &.basic {
        [class*="col-"] {
            img {
                max-width: 100%; width: 100%;
                margin-bottom: 1em;
            }
        }
    }
    &.boxed {
        [class*="col-"] {
            img {
                max-width: 100%; width: 100%;
            }
            i {
                display: block;
                background-color: $white;
                color: $primary;
                font-size: 6em;
                padding: 15px;
            }
            &>div {
                padding: 1em;
                background-color: $white;
            }
        }
        &.primary {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
                i {
                    background-color: $white;
                    color: $primary;
                }
            }
        }
        &.primary-light {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
                i {
                    background-color: $white;
                    color: $primary-light;
                }
            }
        }
        &.primary-dark {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
                i {
                    background-color: $white;
                    color: $primary-dark;
                }
            }
        }
        &.secondary {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
                i {
                    background-color: $white;
                    color: $secondary;
                }
            }
        }
        &.secondary-light {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
                i {
                    background-color: $white;
                    color: $secondary-light;
                }
            }
        }
        &.secondary-dark {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
                i {
                    background-color: $white;
                    color: $secondary-dark;
                }
            }
        }
        &.light {
            [class*="col-"] {
                &>div {
                    background-color: $primary;
                    color: $light;
                }
                i {
                    background-color: $white;
                    color: $light;
                }
            }
        }
        &.light-dark {
            [class*="col-"] {
                &>div {
                    background-color: $dark;
                    color: $light-dark;
                }
                i {
                    background-color: $white;
                    color: $light-dark;
                }
            }
        }
        &.dark {
            [class*="col-"] {
                &>div {
                    background-color: $light;
                    color: $dark;
                }
                i {
                    background-color: $white;
                    color: $dark;
                }
            }
        }
        &.white {
            [class*="col-"] {
                &>div {
                    background-color: $primary;
                }
                i {
                    background-color: $primary;
                    color: $white;
                }
                color: $white;

                a {
                    color: $white;
                }
            }
        }
    }

    // Colors
    &.primary, &.primary-light, &.primary-dark, &.secondary, &.secondary-light, &.secondary-dark, &.dark {
        &.basic {
            a {
                color: $white;
            }
        }
    }
    &.white, &.light, &.light-dark {
        .basic {
            a {
                color: $dark;
            }
        }
    }
}
