/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
section.carousel .row {
  margin: 0; }

section.carousel.primary {
  background-color: #3D5A80;
  color: #fff; }
  section.carousel.primary.light, section.carousel.primary.light-dark {
    color: #444; }
  section.carousel.primary.white {
    color: #3D5A80; }
  section.carousel.primary.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(61, 90, 128, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.primary-light {
  background-color: #456691;
  color: #fff; }
  section.carousel.primary-light.light, section.carousel.primary-light.light-dark {
    color: #444; }
  section.carousel.primary-light.white {
    color: #3D5A80; }
  section.carousel.primary-light.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(69, 102, 145, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.primary-dark {
  background-color: #354e6f;
  color: #fff; }
  section.carousel.primary-dark.light, section.carousel.primary-dark.light-dark {
    color: #444; }
  section.carousel.primary-dark.white {
    color: #3D5A80; }
  section.carousel.primary-dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(53, 78, 111, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.secondary {
  background-color: #EE6C4D;
  color: #fff; }
  section.carousel.secondary.light, section.carousel.secondary.light-dark {
    color: #444; }
  section.carousel.secondary.white {
    color: #3D5A80; }
  section.carousel.secondary.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(238, 108, 77, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.secondary-light {
  background-color: #f07f64;
  color: #fff; }
  section.carousel.secondary-light.light, section.carousel.secondary-light.light-dark {
    color: #444; }
  section.carousel.secondary-light.white {
    color: #3D5A80; }
  section.carousel.secondary-light.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(240, 127, 100, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.secondary-dark {
  background-color: #ec5936;
  color: #fff; }
  section.carousel.secondary-dark.light, section.carousel.secondary-dark.light-dark {
    color: #444; }
  section.carousel.secondary-dark.white {
    color: #3D5A80; }
  section.carousel.secondary-dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(236, 89, 54, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.light {
  background-color: #EEE;
  color: #fff; }
  section.carousel.light.light, section.carousel.light.light-dark {
    color: #444; }
  section.carousel.light.white {
    color: #3D5A80; }
  section.carousel.light.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(238, 238, 238, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.light-dark {
  background-color: #e1e1e1;
  color: #fff; }
  section.carousel.light-dark.light, section.carousel.light-dark.light-dark {
    color: #444; }
  section.carousel.light-dark.white {
    color: #3D5A80; }
  section.carousel.light-dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(225, 225, 225, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.dark {
  background-color: #444;
  color: #fff; }
  section.carousel.dark.light, section.carousel.dark.light-dark {
    color: #444; }
  section.carousel.dark.white {
    color: #3D5A80; }
  section.carousel.dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(68, 68, 68, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.white {
  background-color: #fff;
  color: #fff; }
  section.carousel.white.light, section.carousel.white.light-dark {
    color: #444; }
  section.carousel.white.white {
    color: #3D5A80; }
  section.carousel.white.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel .splide__list .splide__slide img {
  width: 100%; }
