/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
section.carousel .row {
  margin: 0; }

section.carousel.primary {
  background-color: #527650;
  color: #fff; }
  section.carousel.primary.light, section.carousel.primary.light-dark {
    color: #1B291E; }
  section.carousel.primary.white {
    color: #527650; }
  section.carousel.primary.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(82, 118, 80, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.primary-light {
  background-color: #5d855a;
  color: #fff; }
  section.carousel.primary-light.light, section.carousel.primary-light.light-dark {
    color: #1B291E; }
  section.carousel.primary-light.white {
    color: #527650; }
  section.carousel.primary-light.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(93, 133, 90, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.primary-dark {
  background-color: #476746;
  color: #fff; }
  section.carousel.primary-dark.light, section.carousel.primary-dark.light-dark {
    color: #1B291E; }
  section.carousel.primary-dark.white {
    color: #527650; }
  section.carousel.primary-dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(71, 103, 70, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.secondary {
  background-color: #A84D46;
  color: #fff; }
  section.carousel.secondary.light, section.carousel.secondary.light-dark {
    color: #1B291E; }
  section.carousel.secondary.white {
    color: #527650; }
  section.carousel.secondary.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(168, 77, 70, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.secondary-light {
  background-color: #b75851;
  color: #fff; }
  section.carousel.secondary-light.light, section.carousel.secondary-light.light-dark {
    color: #1B291E; }
  section.carousel.secondary-light.white {
    color: #527650; }
  section.carousel.secondary-light.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(183, 88, 81, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.secondary-dark {
  background-color: #96453f;
  color: #fff; }
  section.carousel.secondary-dark.light, section.carousel.secondary-dark.light-dark {
    color: #1B291E; }
  section.carousel.secondary-dark.white {
    color: #527650; }
  section.carousel.secondary-dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(150, 69, 63, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.light {
  background-color: #D5DBCF;
  color: #fff; }
  section.carousel.light.light, section.carousel.light.light-dark {
    color: #1B291E; }
  section.carousel.light.white {
    color: #527650; }
  section.carousel.light.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(213, 219, 207, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.light-dark {
  background-color: #c8d0c0;
  color: #fff; }
  section.carousel.light-dark.light, section.carousel.light-dark.light-dark {
    color: #1B291E; }
  section.carousel.light-dark.white {
    color: #527650; }
  section.carousel.light-dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(200, 208, 192, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.dark {
  background-color: #1B291E;
  color: #fff; }
  section.carousel.dark.light, section.carousel.dark.light-dark {
    color: #1B291E; }
  section.carousel.dark.white {
    color: #527650; }
  section.carousel.dark.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(27, 41, 30, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel.white {
  background-color: #fff;
  color: #fff; }
  section.carousel.white.light, section.carousel.white.light-dark {
    color: #1B291E; }
  section.carousel.white.white {
    color: #527650; }
  section.carousel.white.bg-img .splide__slide:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }

section.carousel .splide__list .splide__slide img {
  width: 100%; }
