/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
@media (max-width: 575px) {
  section.steps.equal-height .row {
    display: block !important; } }

@media (min-width: 992px) {
  section.steps.equal-height .row [class*="col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    section.steps.equal-height .row [class*="col-"] > div {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      section.steps.equal-height .row [class*="col-"] > div a {
        margin-top: auto; } }

section.steps.equal-height .row [class*="col-"] h4 a, section.steps.equal-height .row [class*="col-"] h5 a {
  text-decoration: none; }
  section.steps.equal-height .row [class*="col-"] h4 a:hover, section.steps.equal-height .row [class*="col-"] h5 a:hover {
    text-decoration: none; }

section.steps.equal-height .row.center [class*="col-"] > div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section.steps [class*="col-"] .step-number {
  font-size: 3em;
  display: inline-block;
  line-height: 1;
  margin-bottom: .5em; }

section.steps [class*="col-"] a {
  margin-top: auto;
  text-align: center;
  margin: auto 0 0;
  border: none; }

section.steps [class*="col-"] a.button {
  display: inline-block; }

@media (max-width: 991px) {
  section.steps [class*="col-"] {
    margin-bottom: 1em;
    padding-right: 0; } }

section.steps .center [class*="col-"] {
  text-align: center; }

section.steps.basic.primary [class*="col-"] a.button {
  color: #527650;
  background-color: #fff; }

section.steps.basic.primary-light [class*="col-"] a.button {
  color: #5d855a;
  background-color: #fff; }

section.steps.basic.primary-dark [class*="col-"] a.button {
  color: #476746;
  background-color: #fff; }

section.steps.basic.secondary [class*="col-"] a.button {
  color: #A84D46;
  background-color: #fff; }

section.steps.basic.secondary-light [class*="col-"] a.button {
  color: #b75851;
  background-color: #fff; }

section.steps.basic.secondary-dark [class*="col-"] a.button {
  color: #96453f;
  background-color: #fff; }

section.steps.basic.light [class*="col-"] a.button {
  color: #D5DBCF;
  background-color: #1B291E; }

section.steps.basic.light-dark [class*="col-"] a.button {
  color: #c8d0c0;
  background-color: #1B291E; }

section.steps.basic.dark [class*="col-"] a.button {
  color: #1B291E;
  background-color: #D5DBCF; }

section.steps.basic.white [class*="col-"] a.button {
  color: #fff;
  background-color: #527650; }

section.steps.boxed [class*="col-"] > div {
  padding: 1em;
  height: 100%; }

section.steps.boxed.primary [class*="col-"] > div {
  background-color: #fff;
  color: #527650; }
  section.steps.boxed.primary [class*="col-"] > div a.button {
    border: 3px solid #527650;
    background-color: transparent;
    color: #527650; }
    section.steps.boxed.primary [class*="col-"] > div a.button:hover {
      background-color: #527650;
      color: #fff; }

section.steps.boxed.primary-light [class*="col-"] > div {
  background-color: #fff;
  color: #1B291E; }
  section.steps.boxed.primary-light [class*="col-"] > div a.button {
    border: 3px solid #5d855a;
    background-color: transparent;
    color: #5d855a; }
    section.steps.boxed.primary-light [class*="col-"] > div a.button:hover {
      background-color: #5d855a;
      color: #fff; }

section.steps.boxed.primary-dark [class*="col-"] > div {
  background-color: #fff;
  color: #1B291E; }
  section.steps.boxed.primary-dark [class*="col-"] > div a.button {
    border: 3px solid #476746;
    background-color: transparent;
    color: #476746; }
    section.steps.boxed.primary-dark [class*="col-"] > div a.button:hover {
      background-color: #476746;
      color: #fff; }

section.steps.boxed.secondary [class*="col-"] > div {
  background-color: #fff;
  color: #1B291E; }
  section.steps.boxed.secondary [class*="col-"] > div a.button {
    border: 3px solid #A84D46;
    background-color: transparent;
    color: #A84D46; }
    section.steps.boxed.secondary [class*="col-"] > div a.button:hover {
      background-color: #A84D46;
      color: #fff; }

section.steps.boxed.secondary-light [class*="col-"] > div {
  background-color: #fff;
  color: #1B291E; }
  section.steps.boxed.secondary-light [class*="col-"] > div a.button {
    border: 3px solid #b75851;
    background-color: transparent;
    color: #b75851; }
    section.steps.boxed.secondary-light [class*="col-"] > div a.button:hover {
      background-color: #b75851;
      color: #fff; }

section.steps.boxed.secondary-dark [class*="col-"] > div {
  background-color: #fff;
  color: #1B291E; }
  section.steps.boxed.secondary-dark [class*="col-"] > div a.button {
    border: 3px solid #96453f;
    background-color: transparent;
    color: #96453f; }
    section.steps.boxed.secondary-dark [class*="col-"] > div a.button:hover {
      background-color: #96453f;
      color: #fff; }

section.steps.boxed.light [class*="col-"] > div {
  background-color: #1B291E;
  color: #D5DBCF; }
  section.steps.boxed.light [class*="col-"] > div a.button {
    border: 3px solid #D5DBCF;
    background-color: transparent;
    color: #1B291E; }
    section.steps.boxed.light [class*="col-"] > div a.button:hover {
      background-color: #D5DBCF;
      color: #1B291E; }

section.steps.boxed.dark [class*="col-"] > div {
  background-color: #D5DBCF;
  color: #1B291E; }
  section.steps.boxed.dark [class*="col-"] > div a.button {
    border: 3px solid #1B291E;
    background-color: transparent;
    color: #1B291E; }
    section.steps.boxed.dark [class*="col-"] > div a.button:hover {
      background-color: #1B291E;
      color: #fff; }

section.steps.boxed.white [class*="col-"] {
  color: #fff; }
  section.steps.boxed.white [class*="col-"] > div {
    background-color: #527650; }
  section.steps.boxed.white [class*="col-"] a.button {
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff; }
    section.steps.boxed.white [class*="col-"] a.button:hover {
      background-color: #fff;
      color: #A84D46; }
