@import '../../../sass/variables';
@import '../../../sass/media-queries';

section.multi {
    &.equal-height {
        .row {
            @include respond-below(xs) {
                display: block!important;
            }
            @include respond-above(md) {
                [class*="col-"] {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    & > div {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        a {
                            margin-top: auto;
                        }
                    }
                }
            }

            &.center {
                [class*="col-"] {
                    & > div {
                        align-items: center;
                    }
                }
            }
        }
    }
    .center {
        [class*="col-"] {
            text-align: center;
        }
    }

    [class*="col-"] {
        i {
            font-size: 2.5em;
            padding: 1em;
            color: $primary;
        }
        h4 {
            font-weight: bold;
            margin-top: 0;
        }
        h5 {
            margin: 0 0 1em 0;
            font-weight: bold;
        }
        p {

        }
        a {
            color: inherit;
        }
        // a.button {
        //     background-color: $primary;
        //     color: $white;
        //     display: inline-block;
        //     padding: 14px 30px;
        //     margin: 1em 0 0 0;
        //     border-radius: $sm-br;
        //     text-decoration: none;
        //     transition: all .3s ease;
        //     text-align: center;
        //     border: none;
        //
        //     &:hover {
        //         transition: all .3s ease;
        //     }
        // }
        @include respond-below(md) {
            margin-bottom: 3em;
        }
    }
    &.basic {
        [class*="col-"] {
            img {
                max-width: 100%; width: 100%;
                margin-bottom: 1em;
            }
            i {
                background-color: none;
                color: $primary;
                font-size: 6em;
                padding: 0 .5em .25em .5em;
            }
        }
        // &.primary {
        //     .col {
        //         a.button {
        //             color: $primary;
        //             background-color: $white;
        //         }
        //     }
        // }
        // &.primary-light {
        //     .col {
        //         a.button {
        //             color: $primary-light;
        //             background-color: $white;
        //         }
        //     }
        // }
        // &.primary-dark {
        //     .col {
        //         a.button {
        //             color: $primary-dark;
        //             background-color: $white;
        //         }
        //     }
        // }
        // &.secondary {
        //     .col {
        //         a.button {
        //             color: $secondary;
        //             background-color: $white;
        //         }
        //     }
        // }
        // &.secondary-light {
        //     .col {
        //         a.button {
        //             color: $secondary-light;
        //             background-color: $white;
        //         }
        //     }
        // }
        // &.secondary-dark {
        //     .col {
        //         a.button {
        //             color: $secondary-dark;
        //             background-color: $white;
        //         }
        //     }
        // }
        // &.light {
        //     .col {
        //         a.button {
        //             color: $light;
        //             background-color: $dark;
        //         }
        //     }
        // }
        // &.light-dark {
        //     .col {
        //         a.button {
        //             color: $light-dark;
        //             background-color: $dark;
        //         }
        //     }
        // }
        // &.dark {
        //     .col {
        //         a.button {
        //             color: $dark;
        //             background-color: $light;
        //         }
        //     }
        // }
        // &.white {
        //     .col {
        //         a.button {
        //             color: $white;
        //             background-color: $primary;
        //         }
        //     }
        // }
    }
    &.boxed {
        [class*="col-"] {
            img {
                max-width: 100%; width: 100%;
            }
            i {
                background-color: $white;
                color: $primary;
                font-size: 6em;
                padding: .5em .5em .25em .5em;
            }
            &>div {
                padding: 1em;
                background-color: $white;
            }
        }
        &.primary {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
            }
        }
        &.primary-light {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
            }
        }
        &.primary-dark {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
            }
        }
        &.secondary {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
            }
        }
        &.secondary-light {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
            }
        }
        &.secondary-dark {
            [class*="col-"] {
                &>div {
                    background-color: $white;
                    color: $dark;
                }
            }
        }
        &.light {
            [class*="col-"] {
                &>div {
                    background-color: $dark;
                    color: $light;
                }
            }
        }
        &.light-dark {
            [class*="col-"] {
                &>div {
                    background-color: $dark;
                    color: $light-dark;
                }
            }
        }
        &.dark {
            [class*="col-"] {
                &>div {
                    background-color: $light;
                    color: $dark;
                }
            }
        }
        &.white {
            [class*="col-"] {
                &>div {
                    background-color: $primary;
                }
                color: $white;
            }
        }
    }
    // // Colors
    // &.primary {
    //     a.button {
    //         background-color: $secondary;
    //         color: $white;
    //     }
    // }
    // &.primary-light {
    //     a.button {
    //         background-color: $secondary-light;
    //     }
    // }
    // &.primary-dark {
    //     a.button {
    //         background-color: $secondary-dark;
    //     }
    // }
    // &.secondary {
    //     a.button {
    //         background-color: $primary;
    //     }
    // }
    // &.secondary-light {
    //     a.button {
    //         background-color: $primary-light;
    //     }
    // }
    // &.secondary-dark {
    //     a.button {
    //         background-color: $primary-dark;
    //     }
    // }
    // &.dark {
    //     a.button {
    //         background-color: $light;
    //         color: $dark;
    //     }
    //     i {
    //         color: $light;
    //     }
    // }
    // &.light {
    //     a.button {
    //         background-color: $dark;
    //         color: $light;
    //     }
    //     &.basic {
    //         i {
    //             color: $dark;
    //         }
    //     }
    // }
    // &.light-dark {
    //     a.button {
    //         background-color: $dark;
    //         color: $light-dark;
    //     }
    //     i {
    //         color: $light-dark;
    //     }
    // }
    // &.white {
    //     &.basic {
    //     }
    //     &.boxed {
    //     }
    // }

}
