/* Color Scheme */
/* Media Breakpoints */
/* Fonts */
/* Navigation */
/* Footer */
/* Border Radius */
/* Block Defaults */
@media (max-width: 575px) {
  section.multi.equal-height .row {
    display: block !important; } }

@media (min-width: 992px) {
  section.multi.equal-height .row .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    section.multi.equal-height .row .col > div {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      section.multi.equal-height .row .col > div a {
        margin-top: auto; } }

section.multi.equal-height .row.center .col > div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section.multi .center .col {
  text-align: center; }

section.multi .col:nth-child(n+5) {
  margin-top: 2em; }

section.multi .col i {
  font-size: 2.5em;
  padding: 1em;
  color: #3D5A80; }

section.multi .col h4 {
  font-weight: bold;
  margin-top: 0; }

section.multi .col h5 {
  margin: 0 0 1em 0;
  font-weight: bold; }

section.multi .col a {
  color: inherit; }

@media (max-width: 991px) {
  section.multi .col {
    margin-bottom: 1em; } }

section.multi.basic .col img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1em; }

section.multi.basic .col i {
  background-color: none;
  color: #3D5A80;
  font-size: 6em;
  padding: 0 .5em .25em .5em; }

section.multi.boxed .col img {
  max-width: 100%;
  width: 100%; }

section.multi.boxed .col i {
  background-color: #fff;
  color: #3D5A80;
  font-size: 6em;
  padding: .5em .5em .25em .5em; }

section.multi.boxed .col > div {
  padding: 1em;
  background-color: #fff; }

section.multi.boxed.primary .col > div {
  background-color: #fff;
  color: #444; }

section.multi.boxed.primary-light .col > div {
  background-color: #fff;
  color: #444; }

section.multi.boxed.primary-dark .col > div {
  background-color: #fff;
  color: #444; }

section.multi.boxed.secondary .col > div {
  background-color: #fff;
  color: #444; }

section.multi.boxed.secondary-light .col > div {
  background-color: #fff;
  color: #444; }

section.multi.boxed.secondary-dark .col > div {
  background-color: #fff;
  color: #444; }

section.multi.boxed.light .col > div {
  background-color: #444;
  color: #EEE; }

section.multi.boxed.light-dark .col > div {
  background-color: #444;
  color: #e1e1e1; }

section.multi.boxed.dark .col > div {
  background-color: #EEE;
  color: #444; }

section.multi.boxed.white .col {
  color: #fff; }
  section.multi.boxed.white .col > div {
    background-color: #3D5A80; }
